extends ./layout/app 

block contenido 
    div(class="py-10")
        h1(class="text-4xl text-center text-gray-700") 404 - Página no encontrada
        p(class="text-center text-gray-600 mt-10") Lo sentimos, la página que buscas no existe.