extends ../layout/index 

block contenido 
    
    .py-10 
        h1.text-4xl.my-10.font-extrabold.text-center Bienes 
          span.font-normal Raices 
        h2.text-center.text-2xl.font-extrabold= pagina


        div(class="gb-white shadow py-8 px-4 rounded mx-auto max-w-4xl my-10 md:px-10")

            form.space-y-8 
                div.space-y-5
                    h3.text-lg.leading-6.font-medium.text-gray-800  Informaci칩n General
                    p.text-gray-600 A침ade Informaci칩n sobre la propiedad en venta

                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="titulo") Titulo de anuncio
                        input#titulo.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Titulo propiedad, ej. Casa en la monta침a" type="text" name="titulo")